.App {
  height: 80%;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .App {
    height: 90%;
    width: 90%;
  }
}

@media only screen and (min-width: 600px) {
  .App {
    height: 90%;
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .App{
    height: 90%;
    width: 70%;
  }
}

@media only screen and (min-width: 992px) {
  .App {
    height: 80%;
    width: 50%;
  }
}
